<%- include('partials/header') -%>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column py-5">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
          <a class="navbar-brand"href="/profile">
              <img src="imgs/logo.png" alt="logo" >
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <a href="/feed" class="px-4">Feed</a>  
              <a href="/profile" class="px-4">My Posts</a>
              <a href="/newPost" class="px-4">New Post</a>
              <a href="/logout" class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-3 rounded">Logout</a>
          </div>
      </div>
  </nav>
</div>
  <div class="container card-container py-5">
    <h1 class="text-3xl font-bold">Lost Pets</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="col">
            <div class="card h-100">
              <li class="">
              <a href="/post/<%= posts[i]._id%>">
              <img class="card-img-top" src="<%= posts[i].image%>" style="height: 12rem" >
              </a>
              </li>
              <div class="card-body">
                <h5 class="card-title">
                  <%= posts[i].title %>
                </h5>
              </div>
            </div>
          </div>
          
        <% } %>
        </ul>
      </div>
    </div>
    
  </div>  
<%- include('partials/footer') -%>